.well{
	height: 40em;
	background: rgb(125,163,162);
	opacity: 0.95;
}
input{
	width: 50% !important;
	margin: 0 auto;
}
body{
	background: url("../images/food-bg.jpg");
}
#timer-box{
	height: 500px;
}
#recipes{
	overflow: auto;
}
button{
	margin: 5px;
}
.recipe-box{
	border: 2px dashed #fff;
}