.well{
	height: 40em;
	background: rgb(125,163,162);
	opacity: 0.95;
}
input{
	width: 60% !important;
	margin: 0 auto;
}
body{
	background: url("../images/food-bg.jpg");
}
.btn{
	margin: 5px;
}
#recipes{
	overflow: auto;
}
#recipe-box{
	border: 2px dashed #fff;
}