.well{
	height: 40em;
	background: rgb(125,163,162);
	opacity: 0.95;
}
input{
	width: 50% !important;
	margin: 0 auto;
}
body{
	background: url("../images/food-bg.jpg");
}
#timer-box,{
	height: 440px;
}
#youtube-box{
	min-height: 440px;
	height: auto;
}
#recipes{
	overflow: auto;
}
button{
	margin: 5px;
}
.recipe-box{
	border: 2px dashed #fff;
}
#food-type-btn{
	margin-bottom: 5px;
}
#remove-ingredient:hover{
	color: red;
}
.jumbotron{
	background: #7da3a2;
}
a{
	text-decoration: none;
	text-decoration-line: none;
}
a:hover{
	text-decoration: none;
	text-decoration-line: none;
	color: #fff;
}
#recipe-detail{
	min-height: 900px;
	height: auto;
	width: auto;
}
iframe{
	max-width: 350px;
	margin-top: 10px;
}
li{
	color: black;
	font-size: 18px;
}
#login-well, #signUp-well{
	width: 50%;
	height: auto;
	margin: 0 auto;
	color: black;
}
.page-header{
	margin-top: 10px;
}
#error-mess{
	color: red;
}
